.enquiry .title {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}
.sungare-web-design .block-title
{
     font-weight: 700;
    font-size: 45px;
    margin-top: 30px;
    text-align: center;
}
.portmain
{
  margin-top:50px;
}
#filters {
    padding: 0% 10% 5% 10%;
    list-style:none;
}
   #filters li {
        float:left;
    }

 #filters li span {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    font-size: 19px;
    border-right: 1px solid#ccc;
}
    #filters li span.active {
      background: #0051a7;
    color: #fff;
    }
    #portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;    
     width: 380px;
    opacity: 1;
    float: left;
    overflow: hidden;
 /*   border-bottom: 1px dashed #ccc;*/
    margin-bottom: 20px;
}
.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    background: #D5C301;
    cursor: pointer;
    width: 50%;
    float: left;
}
.portfolio img {
    max-width:100%;
    position: relative;
    display:block;
    transition: all 300ms!important;
    -webkit-transition: all 300ms!important;
    -moz-transition: all 300ms!important;
}
.portfolio .text-category {
    display:block;
    font-size:9px;
    font-size: 12px;
    text-transform:uppercase;
    color:#000;
}
.bg3
{
   background: url(../images/bg3.jpg);
   background-size: cover;
 
}
.sun-con
{
  width:60%;
  margin:0px auto;
}
#banner3 {
    background: url(../images/banner1.jpg);
    background-size: cover;
    padding: 140px 0 0 0;
    position: relative;
}
.type-med--serif {
   
    font-size: 1.8rem;
    line-height: 1.8;
}
.type-kilo--sans {
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 1.4;
}
.choose{
     padding: 7px 50px;
     background: #a5a5a5;
    border: 1px solid #8c8c8c;
    position: relative;
    color: #fff;
    /* border-radius: 2px; */
    text-align: center;
    float: left;
    cursor: pointer;
}
.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
    
}
.mar-top
{
margin-top: 10px;
}
.job
{
  width:100%;
  height: 250px;
 
  color: #fff;
  font-size:20px;
  font-weight: 500;
  padding-top:25%;
  text-align: center;
}

.job .place1
{
  color: #ccc;
  font-size:15px;
   text-align: center;
}





.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom:1px;
    border:none;
}
.card-header:first-child {
    border-radius: 0;
}
.card-header {
    background-color: #f7f7f9;
    margin-bottom: 0;
    padding: 20px 1.25rem;
    border:none;
    
}
.card-header a i{
    float:left;
    font-size:25px;
    padding:5px 0;
    margin:0 25px 0 0px;
    color:#195C9D;
}
.card-header i{
    float:right;        
    font-size:30px;
    width:1%;
    margin-top:8px;
    margin-right:10px;
}
.card-header a{
    width:97%;
    float:left;
    color:#565656;
}
.card-header p{
    margin:0;
}
.hire1 {
      font-size: 20px!important;
    /* font-weight: bold; */
    color: #003579!important;
    border-bottom-style: dotted;
    border-width: 1px;
    border-color: #ccc;
    padding-bottom: 10px;
    /* text-align: center; */
    padding-top: 16px;
}
.hire-main p{
    margin-bottom: 5px;
    position: relative;
    font-size: 17px;
    color: #000;
    list-style-type: none
  }
.card-header h3{
   font-size: 22px;
    font-weight: bold;
    color: #bf4300;
}
.hire-main .title
{
  margin-top: 40px;
}
.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color:#232323;
    box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
    border-top:1px soild #000;
    border-radius:0;
}

.job-des h2 {
      font-size: 20px;
    color: #d82104;
    border-bottom-style: dotted;
    border-width: 1px;
    border-color: #ccc;
    padding-bottom: 10px;
    /* text-align: center; */
    padding-top: 16px;
}

.job-des .decr {
    font-size: 16px;
    text-align: justify;
    line-height: 31px;
    margin-bottom: 20px;
    font-family: 'myfont3', sans-serif;
}


.job-des .list-with-line li {
    margin-bottom: 12px;
    padding-left: 35px;
    position: relative;
    font-size: 15px;
    color: #000;
    list-style-type: none;
}
.job-des ul
{
  margin-top:20px;
}

.job-head
{
    background: #003579;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}






.hire
{
        width: 80%;
    margin: 0px auto;
    background: #003579;
    margin-top: -50px;
    position: relative;
    PADDING: 50PX;
    color: #fff;
    text-align: center;
}
.decr {
    font-size: 20px;
    text-align: justify;
    line-height: 33px;
    margin-bottom: 20px;
    font-family: 'myfont3', sans-serif;

}
#sungares, #sungares * {
    -webkit-font-smoothing: antialiased;
}

#sungares {
    width: 100%;
}
#sungares .sungare {
    /* width: 33.3%; */
    width: calc(100%/3);
    float: left;
    overflow: hidden;
    position: relative;
}
#sungares .memberImage {
    width: 100%;
    padding-bottom: 75%;
    background-size: cover;
    background-position: center;
    -webkit-transition: all 1s;
    transition: transform 1s;
    z-index: 1;
    
     margin-top: 25px;
}
#sungares a.memberName {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/sungareShadow.png) bottom left no-repeat;
    color: #ffffff;
    text-transform: uppercase;
    outline: 0;
    z-index: 10;
}
#sungares .memberName span {
    position: absolute;
    bottom: 12px;
    left: 14px;
    font-weight: 700;
    font-size: 15px;
    z-index: 50;
}
#sungares .memberName span span {
    position: relative;
    font-weight: 300;
    bottom: 0;
    left: 0;
    z-index: 50;
}
#sungares .ratio {
    padding-bottom: 75%;
    background: #f1f1f1;
}
#sungares .textTile .ttWrap {
    width: 70%;
    margin: 0 auto;
    margin: 12.5%;
    position: absolute;
    top: 0;
    left: 0;
}
#sungares .textTile h3 {
    font-size: 27px;
}
#sungares .textTile p {
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
    color: #909090;
    margin: 15px 0 20px;
}
#sungares .textTile ul {
    font-size: 22px;
  list-style: none;
}
#sungares .textTile ul a, #sungares .textTile ul strong {
    color: #0096d5;
    font-weight: 500;
}
.o-t-main
{
    margin-top: 100px;
}
.e-c
{
  margin-top:30px;
    margin-bottom:30px;

}
/*.b-b
{
  border-bottom: 1px solid #ccc;
}
*/
.color-red {
    color: #f66f28;
}
.web1 h5
{
    color: #000!important;
    font-size: 20px;
    padding: 10px;
      font-family: 'myfont3', sans-serif;
}
  


.en
{
    text-align: center;
    background: #003579;
    padding: 30px;
}
.en h5 {
    font-size: 25px;
    color: #fff;
    padding-top: 15px;
    letter-spacing: 0.8px;
    font-family: 'myfont2', sans-serif;
}
.enquiry .title h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 0px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.enquiry textarea.form-control {
    height: 100px!important;
}
.other-ser
{
  margin-top: 30PX;
    margin-bottom: 50PX;
    cursor: pointer;
}
  .other-ser .title h2  
  {
        padding-bottom:0px;
            font-size: 30px;
  }
.other-ser h4
{

  text-align: center;
      font-family: 'myfont3', sans-serif;
}
.banner-head {
    width: 100%;
    position: absolute;
    top: 135px!important;
    text-align: center;
}
.other-ser img
{
  width: 100%;
}
.btn-view {
    border-radius: 0 !important;
    margin-bottom: 75px;
    font-size: 20px!important;
}
.footer-widget h4
{
font-weight: bold;
    text-align: center;
    padding-top: 20px;

}
.footer-widget h5
{
    /* font-weight: 600; */
    padding-top: 3px;
    text-align: center;
    font-family: 'myfont1', sans-serif;
    font-size: 15px;
  }
.img3
{
width: 100%;
}
.foo-menu ul
{
list-style: none;
}
.foo-menu ul li
{
float: left;
}
.foo-menu ul li a
{
color: #bdbdbd;
    border-right: 1px solid #3a3a3a;
    text-align: center;
    padding: 15px;
        font-family: 'myfont3', sans-serif;
}
.foo-menu ul li a:hover
{
  color: #fff;
  }
.no-padding
{
  padding:0px;
}
.porttext {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 10px 0;
    font-family: 'myfont3', sans-serif;
}

.block-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'myfont3', sans-serif;
}
.test-left
{
      padding-bottom: 20px;
          font-family: 'myfont1', sans-serif;
}
.test-left .desc:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: 25px;
    color: #d7d7d7;
    position: absolute;
    top: 0;
    left: 6px;
}


.list-with-line li {
    margin-bottom: 20px;
    padding-left: 35px;
    position: relative;
    font-size: 17px;
    color: #000;
    list-style-type: none;
}
.list-with-line li::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 10px;
    width: 20px;
    height: 3px;
    background: #e77500;
}
.font1
{
    color: #fff;
    font-size:29px;
    text-align: center;
    font-family: 'myfont2', sans-serif
}
.enquiry {
    margin: 0px 0;
}
.enquiry h2
{
    font-size: 17px;
    color: #9f5800;
    text-align: center;
    padding-bottom: 10px;
}
.enquiry input ,textarea {
    margin-top:5px;
}
.enquiry .btn-primary
{
    MARGIN-TOP: 10PX;
    background: #ff6516;
    border: none;
    color: #fff!important;
    padding-left:20px;
        padding-right:20px;
    border-radius: 50px;
    font-size:18px;

}
.jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 051 css*/
        .jssorb051 .i {position:absolute;cursor:pointer;}
        .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
        .jssorb051 .i:hover .b {fill-opacity:.7;}
        .jssorb051 .iav .b {fill-opacity: 1;}
        .jssorb051 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}


.js1
{
position:relative;margin:0 auto;top:0px;left:0px;
  width:100%!important;  height:100%;overflow:hidden;visibility:hidden;
}

.slide1
{
  cursor:default;
  position:relative;
  top:0px;
left:0px; 
 width:100%!important; 
  height:750px;
  overflow:hidden;
}
.slide1 img
{
  width:100%!important;
 height:850px !important;
/*  background-size: cover;
      background-position: 50% 50%;
    background-repeat: no-repeat;*/
}
/*.slide1:before {
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, 0.51);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
}
*/
@font-face
{
  font-family:'myfont1';
font-style:normal;
font-weight:200;
line-height:normal;
src:url(../fonts/OpenSans-Regular.ttf);

}

@font-face
{
  font-family:'myfont2';


src:url(../fonts/Raleway-ExtraLight.ttf);

}
@font-face
{
  font-family:'myfont3';


src:url(../fonts/Raleway-Medium.ttf);

}

body{
  margin:0;
  font-family: 'myfont1', sans-serif; 
  background: #fff;  
}
body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration:none;
  outline:none;
      color: #000;
}
h1,h2
{
    margin: 0;
  font-family: 'myfont3', sans-serif;
}
h3,h4,h5,h6{
  margin: 0;
  font-family: 'myfont2', sans-serif;
}
p{
  margin:0;
}
ul,label{
  margin:0;
  padding:0;
}
body a:hover,body a:focus{
  text-decoration:none;
  outline: none;
} 



/*=============== banner ==================*/  

/* animation keyfrem */
@-webkit-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-moz-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-o-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}


#banner2 {
  background: url('../images/banner.jpg');
  background-size: cover;
  padding: 140px 0 0 0;
  position: relative;
}

#banner2:before {
  position: absolute;
  z-index: 99;
/*  background: rgba(0, 0, 0, 0.73);*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

#banner2 h2 {
    color: #000!important;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 25px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    z-index: 99;
}


#banner {
  background: url('../images/banner.jpg');
  background-size: cover;
  padding: 200px 0;
  position: relative;
}

#banner:before {
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, 0.73);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.block {
  position: relative;
  z-index: 99;
  color: #fff;
}

.block h1 {
  padding-bottom: 25px;
  font-size: 65px;
    font-weight: 700;

      color: #ff7a3a;
    line-height: 40px;
}

.block h4 {
  font-size: 28px;
color: #000000;
line-height: 48px;
 margin: 30px 0;
 font-weight: 300;
    margin:0px 0;
  
}
.web1
{
    background: #fff;
    color: #003171;
        font-family: 'myfont3', sans-serif;
}
/*.b-t {
    border-bottom: 1px dashed #ccc;
}*/
.web1 p
{
     font-size: 17px;
    color: #000!important;
    margin-bottom: 20px;
        font-family: 'myfont1', sans-serif;
}
 
 .b-t
 {

 }

.block h2 {
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
}

.block .btn-learn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 25px;
  margin: 0 7px;
  padding: 10px 22px;
  font-size: 14px;
  transition: 0.3s;
}
.block .btn-learn:hover {
  border-color: #80d6a3;
  color: #80d6a3;
}
.block .buttons {
  margin-top: 40px;
}
#banner .block .buttons a:first-child {
  margin-left: 0;
}
#banner .scrolldown {
  position: absolute;
  left: 50%;
  bottom: 18%;
}
#banner .scrolldown .scroll {
  border-radius: 100px;
  width: 25px;
  height: 45px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -15px;
  display: inline-block;
  border: 1px solid #fff;
  z-index: 99;
}
#banner .scrolldown .scroll:after {
  background: #fff;
  border-radius: 300px;
  width: 4px;
  height: 9px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  display: block;
  content: " ";
  -webkit-animation: wiggle 0.5s linear 0s infinite alternate;
  -moz-animation: wiggle 0.5s linear 0s infinite alternate;
  -o-animation: wiggle 0.5s linear 0s infinite alternate;
  animation: wiggle 0.5s linear 0s infinite alternate;
}

/*============= //banner ==================*/  



/*============= features ==================*/  

#features {
  padding: 60px 0 0;
  background-color: #f1f1f1;
}
#features .feature-block {
  padding-bottom: 35px;
}
#features .feature-block .icon-box {
  margin-bottom: 24px;
}
#features .feature-block .icon-box i {
  display: inline-block;
  line-height: 1;
  font-size: 60px;
  transition: 0.3s;
  color: #80d6a3;
}
#features .feature-block h4 {
  font-size: 20px;
  color: #333;
  position: relative;
  text-transform: none;
  margin-bottom: 10px;
  font-weight: 400;
}
#features .feature-block p {
  font-size: 15px;
  color: #888;
  line-height: 24px;
  font-weight: 300;
  margin-top: 20px;
  
}
#features .showcase-img {
  margin-top: 40px;
}
/*============= //features ==================*/  

  
.header {
    padding-top:2em;
}
.header .container { 
    position: relative;
}
.menu{
    margin-top: 1em;
}
/*-- menu-navigation --*/
.menu {
    position: fixed;
    z-index: 999999;
    right: 80px;
    top:10px;
        width: 10%;
}
.one
{
   width: 50%;
   float: left;
       border-right: 2px solid #d9431e;
    color: #ff8100;
  
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;

    padding: 10px;
    text-transform: uppercase;
}
.two
{
       width: 50%;
    float: left;
    padding-left: 10px;
    padding-top: 8px;
}
.menu .navicon {
    background: transparent;
    position: relative;
    height: 46px;
    width: 46px;
    display: block;
    z-index: 9999999;
    -webkit-transition: linear 0.5s all;
    -moz-transition: linear 0.5s all;
  -ms-transition: linear 0.5s all;
  -o-transition: linear 0.5s all;
    transition: linear 0.5s all;
  outline: none;
}
.menu .navicon:before, .menu .navicon:after {
    background-image: -webkit-linear-gradient(-106deg, #fa326f, #ffffff, #f2504d);
    background-image: -webkit-linear-gradient(196deg, #fa326f, #ffffff, #f2504d);
    background-image: linear-gradient(-106deg, #43baff, #43baff, #43baff);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "";
    height: 3px;
    left: 0;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -o-transition: 0.8s all;
    -ms-transition: 0.8s all;
    transition: 0.8s all;
    width: 45px;
}
.menu .navicon:before {
  -moz-box-shadow: #fff 0 14px 0 0;
  -o-box-shadow: #fff 0 14px 0 0;
  -ms-box-shadow: #fff 0 14px 0 0;
  -webkit-box-shadow: #fff 0 14px 0 0;
  box-shadow:#43baff 0 14px 0 0;
  position: absolute;
  top: 0;
} 
.menu .navicon:after {
  position: absolute;
  top: 28px;
} 
.menu .navicon--active { 
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all; 
  -moz-transition:0.5s all; 
  -o-transition:0.5s all;
  transition:0.5s all;
} 
.menu .navicon--active:before {
  -moz-box-shadow: transparent 0 0 0 0;
  -ms-box-shadow: transparent 0 0 0 0;
  -o-box-shadow: transparent 0 0 0 0;
  -webkit-box-shadow: transparent 0 0 0 0;
  box-shadow: transparent 0 0 0 0;
  top: 15px !important;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.menu .navicon--active:after {
  top: 15px !important;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
} 
.menu .toggle {
    display: block;
    position: fixed;
    top:0;
  right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 2em 3em;
    opacity: 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 7px #696868;
    -moz-box-shadow: 0px 0px 7px #696868;
  -o-box-shadow: 0px 0px 7px #696868;
  -ms-box-shadow: 0px 0px 7px #696868;
    box-shadow: 0px 0px 7px #696868;
}
.menu .toggle--active { 
  opacity: 1;
  -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
    transition: 0.5s all;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0); 
  

    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    /* -webkit-transform: translate(0, 0); */
    /* transform: translate(0, 0); */
} 
.menu .toggle-menu li {
    display: block;
    margin: 1em auto;
    text-align: center;  
} 
.menu .toggle-menu li a {
    text-decoration: none;
    color: #d7d7d7;
    display: inline-block;
    text-align: center;
    font-size: 2.5em; 
    font-weight: 400;
    margin: 6px 0;
    position: relative;
  text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
    transition: 0.5s all;
        font-family: 'myfont3', sans-serif;

}
.menu .toggle-menu li a:hover,.menu .toggle-menu li a.active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(-106deg, #fa326f, #f2514c, #f2504d);
  background-image: -webkit-linear-gradient(196deg, #fa326f, #f2514c, #f2504d);
  background-image: linear-gradient(-106deg, #ef4276, #f2514c, #ea2723);


  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  font-weight: 700;
} 
/*-- HOVER EFFECT3 --*/ 
.effect-3 a:before,
.effect-3 a:after {
  content: "";
  height: 1px;
  width: 0;
  opacity: 0;
  background-image: linear-gradient(-106deg, #ef4276, #f2514c, #ea2723);
  position: absolute;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
} 

.effect-3 a:before {
  top: -3px;
}

.effect-3 a:after {
  bottom: -3px;
  right: 0;
}

.effect-3 a:hover:before,
.effect-3 a:hover:after,.menu .toggle-menu li a.active:before,.menu .toggle-menu li a.active:after{
  width: calc(100% + 20px);
  opacity: 1;
}

/*-- //menu-navigation --*/
.logo {
    float: left;
    text-align: center; 
}
.logo h1 {
    font-size: 3.5em;
    color: #fff;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}
.logo h1 a,.logo h1 a:hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(-106deg, #fa326f, #f2514c, #f2504d);
    background-image: -webkit-linear-gradient(196deg, #fa326f, #f2514c, #f2504d);
    background-image: linear-gradient(-106deg, #ef4276, #f2514c, #ea2723);
  text-decoration: none;
  outline:none;
} 

.boxed {
    background-image: -webkit-linear-gradient(-106deg, #fa326f, #f2514c, #f2504d);
background-image: -webkit-linear-gradient(196deg, #fa326f, #f2514c, #f2504d);
background-image: linear-gradient(-106deg, #ef4276, #f2514c, #ea2723);
    width: 100%;
    padding: 30px 0;
}
.boxed h3 {
    color: #fff;
    padding: 5px 0;
    font-size: 24px;
}

.boxed .btn-border {
    float: right;
}
.btn-border {
    border: 1px solid #fff!important;
    color: #fff;
}

.btn {
  border: none;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  border-radius: 0;
  color: #fff;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.heading {
  margin-bottom: 35px;
}
.section {
  padding-top: 60px;
  padding-bottom: 40px;
}
.section-title span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(-106deg, #fa326f, #f2514c, #f2504d);
  background-image: -webkit-linear-gradient(196deg, #fa326f, #f2514c, #f2504d);
  background-image: linear-gradient(-106deg, #ef4276, #f2514c, #ea2723);
}

.section-title {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  padding-left: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 15px;
  position: relative;
}
.section-title:before {
  position: absolute;
  width: 100px;
  height: 3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -15px;
  content: "";
}
.big-title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.description {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 1.7em;
  color: #817C7C;
}

}
@media(max-width:1024px){
  .menu .toggle { 
      padding: 1.5em 3em; 
  } 
}

@media(max-width:800px){
  .logo h1 {
      font-size: 3em; 
    }
    .menu {
      margin-top: 0.5em;
    }

    .menu .toggle-menu li a { 
        font-size: 1em; 
      margin: 4px 0; 
    }

    .menu .toggle { 
        width: 230px; 
    }
    .about-text p:first-letter {
        font-size: 5em; 
    } 
  }
}


@media(max-width:640px){
.experience-left h6 {
    font-size: 1.5em; 
} 
}
@media(max-width:600px){
.header {
    padding-top: 1.5em;
}
.about-w3banner {
    padding: 3em 0;
}

.about-left {
    padding: 0 11em;
}

}
@media(max-width:480px){
.menu .toggle {
     width: 100%;
    padding: 8em;
    height: auto;
    padding-bottom: 73%;
}

}
@media(max-width:414px){
.logo h1 {
    font-size: 2.5em;
}


}
@media(max-width:384px){
.menu .toggle-menu li a {
    font-size: 15px;
    margin: 3px 0;
}

}

@media(max-width:320px){
.menu .navicon:before { 
    top: -2px;
}
.menu .navicon:before, .menu .navicon:after { 
    width: 41px;
}
.menu .navicon { 
    height: 41px;
    width: 41px; 
}
.menu .navicon:after { 
    top: 26px;
}

p {
    font-size: 0.9em; 
}

}
/*-- //responsive-design --*/



#counter {
  background: url(../images/counter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  padding: 100px 0;
}
#counter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
}
#counter .title {
  position: relative;
}
#counter .title h2 ,#counter .title p {
  color: #fff;
}
#counter .block {
  margin-bottom: 20px;
}
#counter .block i {
  display: block;
  font-size: 40px;
  line-height: 1;
  padding-bottom: 20px;
  color: #80d6a3;
}
#counter .block span {
  line-height: 1;
  display: inline-block;
  color: #fff;
}
#counter .block .count-text {
  font-size: 36px;
}
#counter .block p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-top: 20px;
}


.title {
  text-align: center;
  padding-bottom: 40px;
}
.title h2 {
  color: #333;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 25px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.title h2:before {
    content: '';
    width: 40px;
    height: 2px;
    background: #ff6d20;
    position: absolute;
    top: 19px;
    left: -60px;
}
.title h2:after {
    content: '';
    width: 40px;
    height: 2px;
    background: #ff6d20;
    position: absolute;
    top: 19px;
    right: -60px;
}
.title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #817C7C;
}
#mixed-items .mix {
  display: none;
}


/*======== TEAM ========*/
#team {
  padding: 60px 0;
}
#team .block {
  position: relative;
  overflow: hidden;
  border:3px solid transparent;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}
#team .block img {
  width: 100%;
  position: relative;
}

#team .block:hover {
  border: 3px solid #80d6a3;

}
#team .block:hover .team-overlay {
  bottom: 0;
  opacity: 1;
}
#team .team-overlay {
  background: rgba(255, 255, 255, 0.95);
  color: #fff;
  text-align: center;
  padding: 48px 62px;
  position: absolute;
  bottom: -150px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;  
  transition: 0.3s;
}
#team .team-overlay h3,
#team .team-overlay span {
  color: #333;
}
#team .team-overlay span {
  display: block;
  font-size: 13px;
  padding-top: 10px;
}
#team .team-overlay .icon {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1;
  margin-top: 36px;
  margin-bottom: 25px;
  border-radius: 100%;
  display: inline-block;
  background: #80d6a3;
}
#team .team-overlay .icon i {
  font-size: 18px;
  color: #fff;
}
#team .team-overlay p {
  font-size: 14px;
  line-height: 23px;
  color: #707a8a;
  
}
#team .team-overlay .media {
  margin-top: 10px;
}
#team .team-overlay .media a {
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
  margin: 0 10px;
}
#team .team-overlay .media a:hover {
  color: #80d6a3;
}

.header {
    width: 100%;
    position: fixed;
    top: -10px;
    z-index: 9999;
    padding: 10px 0;
}

.header.sticky-menu {
  position: fixed;
  top:0;
  background-color: #fff;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  padding: 10px 0;
  z-index: 9999999
}


/*-- experience --*/
.experience{
  background:#FFFFFF;
}
.experience-heading h3{
  color: #2f2f2f;
}
.w3-agile-experience-grids {
    margin: 4em 0 0 0;
}
.experience-grid{
    text-align: center;
    padding: 2em;
    border-right: solid 1px #999999;
    border-bottom: solid 1px #999999;
}
.experience-grid-icon i.fa.fa-folder-open,.experience-grid-icon i.fa.fa-bell,.experience-grid-icon i.fa.fa-comments,.experience-grid-icon i.fa.fa-asterisk{
    color: #2f2f2f;
    background: none;
    border: solid 2px #ff9800;
    width: 100px;
    height: 100px;
    font-size: 2em;
    padding: 1.1em 0 0 0;
}
.experience-grid-info h5{
    color: #2f2f2f;
    font-size: 1.5em;
    margin: 1em 0 0 0;
    font-weight: 700;
}
.experience-grid-info p{
  color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.experience-grid1 {
    border-right: none !important;
}
.experience-grid2 {
    border-bottom: none !important;
}
.experience-grid3 {
    border-bottom: none !important;
    border-right: none !important;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9800;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #FFFFFF;
}
.experience-grid:hover div.hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);  
  color:#FFFFFF;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.experience-grid:hover div i.fa.fa-folder-open,.experience-grid:hover div i.fa.fa-bell,.experience-grid:hover div i.fa.fa-comments,.experience-grid:hover div i.fa.fa-asterisk{
  color: #FFFFFF;
}
/*-- //experience --*/



/* ===================== Client===================== */
#client-logo {
  padding:40px 0;
  text-align: center;
}
#client-logo a {
  padding: 14px 24px;
  display: block;
}
#client-logo a img {
  transition: 0.3s;
  margin: 0 auto;
}
#client-logo a:hover img {
  transform: scale(1.2);
}

/* ===================== /Client===================== */




/* ================= Blog Post =================== */


.myblog{
  padding: 0px!important;
}

#blog {
  padding:60px 0;
  background: #fff;
}
#blog-post .block {
  background: #f8f8f8;
  margin: 0 10px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 5px #d8d7d7;
}

#blog-post  .content {
  padding:15px; 
  text-align: center;
}
#blog-post .content h4 {
  text-transform: capitalize;
  position: relative;
  margin: 0px 0 10px;
  padding: 10px 0;
}
#blog-post .content h4 a {
  color: #333;
  text-transform: uppercase;
}
#blog-post .content h4 a:hover {
 color: #80d6a3; 
}

#blog-post .content small {
  color: #999;
}
#blog-post .content p {
  margin-top: 10px;
  color: #777;
}
#blog-post .content .btn-read {
  background: #80d6a3;
  color: #fff;
  padding:10px 20px;
  font-size: 13px;
  margin-top: 15px;
}

#featured-job {
    margin: 3em 0;
}


#featured-job .content .btn-read {
  background: #80d6a3;
  color: #fff;
  padding:10px 20px;
  font-size: 13px;
  margin-top: 15px;
}

#featured-job .block {
  background: #fff;
}

#featured-job .content {
    padding: 15px;
}

#featured-job h4{
  text-align: center!important;
  color: #333!important;
}

#featured-job h4 a{
  text-align: center!important;
  color: #333!important;
}


.projects-content h4 {
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.projects-content h4 a:hover {
  color: #ffbb02;
}

.recent-meta {
  font-size: 11px;
  padding: 6px 0 5px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}
.project .projects-box .projects-content .recent-meta span {
  margin-right: 5px;
}
.project .projects-box .projects-content .recent-meta span i {
  margin-right: 5px;
  color: #ccc;
}

.recent-meta span {
    margin-right: 10px;
}

/* ===================/ Blog Page/===================== */



/* ===================/ footer/===================== */
.footer-widget ul{
  list-style: none;
}
.footer-top-area {
 background:#ffffff none repeat scroll 0 0;
  padding: 40px 0 0 70px;
}
.m-b
{
margin-bottom: 50px;
}
.footer-widget{}
.footer-widget h3 {
 border-bottom: 1px solid #dddddd;
    color: #000000;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    text-transform: uppercase;
    line-height: 11px;
    margin: 0 0 10px;
    font-family: 'myfont3', sans-serif;

}
ul.footer-menu{}
ul.footer-menu li span {    color: #ae3c00;
    font-size: 17px;}
ul.footer-menu li {
    color: #000000;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 15px;
}
ul.footer-menu li a {
  color: #d5d5d5;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  border-bottom: 1px solid #dddddd;
}
ul.footer-menu li:last-child a{padding-bottom:0;}
ul.footer-menu li a:hover{color:#fec34d}
ul.footer-menu li a::before {
  content: "\f101";
  display: inline-block;
  font-family: fontawesome;
  margin-right: 8px;
  position: relative;
  top: 0;
}
.footer-widget img{       max-width: 100%;
    margin-top: 40%;}
.footer-widget p {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 22px;
}
.widget-icon{
  margin-top:25px;
}
.widget-icon a {
      border: 1px solid #878787;
    color: #b8b8b8;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 32px;
  margin-right: 8px;
  float: right;
}
.widget-icon a:hover{background:#00459c;color:#fff;border-color:#00459c}
.widget-icon a i{}
ul.footer-contact{}
ul.footer-contact li {
  clear: both;
  display: inline-block;
  padding-bottom: 15px;
  color: #d5d5d5;
}
ul.footer-contact li i {
  border: 1px solid #d5d5d5;
  border-radius: 0;
  color: #d5d5d5;
  float: left;
  font-size: 16px;
  height: 34px;
  line-height: 30px;
  margin-right: 15px;
  text-align: center;
  width: 32px;
}
.footer-bottom-area {
  background:#000000;
  padding: 20px 0;
}
.copyright {
  margin-top: 4px;
}
.copyright p {
  color: #d5d5d5;
  margin: 0;
}
.copyright p a{color:#fec34d}
.copyright p a:hover{text-decoration:underline}
.payment-img {
  float: right;
}
.payment-img img{}

#scrollUp {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #252525;
  border-radius: 0;
  bottom: 20px;
  color: #252525;
  font-size: 20px;
  height: 40px;
  line-height: 0;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
#scrollUp i {
  display: block;
  padding-top: 8px;
}
#scrollUp:hover{background:#EC4445;border:1px solid #EC4445;color:#fff}

/* ===================/ End footer/===================== */






/* ===================/ testimonial/===================== */
#testimonial4{
  overflow: hidden;
  min-height: 425px;
  position: relative;
 /*  background:rgb(152, 76, 0);*/
}


#testimonial4 .carousel-inner{
     width: 75%;
    margin: auto;
    background:#0000008a;
 
     border-left: 10px solid #ffffff;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom:45px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  margin: 2px 3px;
  background-color: #000;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
      margin-bottom: 50px;

  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  margin: auto;
  padding: 30px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
}

.testimonial4_slide p {

      line-height: 30px;
  color: #ffffff;
  font-size: 16px;
  margin: 25px 0 20px 0;
}

.testimonial4_slide h4 {
color:#ffa923;
    font-size: 20px;
    font-weight: bold;

    padding-top: 10px;
}
.testimonial4_slide span
{
    padding-bottom: 20px;
        color:#ffffff;
}


@media only screen and (max-width: 480px){
  .testimonial4_control_button .carousel-control{
    display: none;
  }
  .testimonial4_header{
    width: 100%;
  }
  .testimonial4_header h4{
      font-size: 17px;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
#testimonial4 .carousel-inner {
    width: 100%;
    margin: auto;
    background: #fff;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
  .logo img
  {
    width:150px;
  }
  .testimonial4_slide h4 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}
.test-left .desc:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: 25px;
    color: #d7d7d7;
    position: absolute;
    top: 0;
    left: -5px;
}
  .testimonial4_slide img {
    top: 0;
       left: 20px;
    right: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    float: left;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 64%;
}

  .testimonial4_header {
    top: 0;
    left: 0;
    bottom: 0;
/*    width: 550px;*/
    display: block;
    margin: 13px auto;
    text-align: center;
    position: relative;
}
.testimonial4_slide p {
    line-height: 24px;
    color: #984c00;
    font-size: 13px;
    margin: -10px 0 52px 0;
}
  .testimonial4_header h4 {
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
}
}


@media only screen and (min-width: 481px){
  
  .logo img
  {
    width:250px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .testimonial4_control_button .carousel-control.left{
    left: 2%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 2%;
  }
  .testimonial4_header{
    width: 95%;
  }
  .testimonial4_slide{
    width: 98%;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .testimonial4_control_button .carousel-control.left{
    left: 5%;
  }
  .testimonial4_control_button .carousel-control.right{
    right: 5%;
  }
}

@-webkit-keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes psBoxShadowEffect_2{
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ffffff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #ffffff, 0 0 0 5px rgba(255,255,255,0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

/* ===================/ End testimonial/===================== */




/* ===================/ featured/===================== */

.featured-career {
    background: url(../images/job-background.jpg) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 80px 0;
}
.featured-career:before {
  content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(16, 198, 140, 0.36);
}





.featured {
  background: url(../images/counter-bg.jpg) no-repeat;
  background-size: cover;
background-position: center;
position: relative;
text-align: center;
padding: 80px 0;
}
.featured:before {
  content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(38, 30, 77, 0.7);
}
.featured-content {
  margin: 0px;
  padding: 30px;
}
.myservice h2{
  color:#fff!important;
}
.featured-content p {
  color: #fff;
  margin-bottom: 1em;
}

.featured-header {
  display: inline-block;
  margin-bottom: 25px;
}
.featured-header i {
  float: left;
  width: 48px;
  font-size: 18px;
  height: 48px;
  line-height: 44px;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.featured-header .featured-title {
  padding-left: 68px;
}
.featured-header .featured-title h4 a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
}
.featured-header .featured-title p {
  font-size: 13px;
  font-weight: 300;
}
.featured-thumb {
  text-align: center;
}

.featured-header i {
    color: #ffbb02;
    border: 2px solid #ffbb02;
}
.featured-header i:hover {
    color: #fff;
    border: 2px solid #ffbb02;
    background-color: #ffbb02;
}


.service1 {
    background:#051527;
    height: 150px;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.service1:hover {
    background: #da796e;
}

.service2 {
    background: #53bbf4;
        height: 150px;
    transition-property: background;
    transition-duration: 1s;
        padding-top: 25%;
    transition-timing-function: linear;
}
.service2:hover {
    background: #1fb7cf;
}

.service3 {
    background: #7a1c1c;
    height: 300px;
    transition-property: background;
    transition-duration: 1s;
    padding-top: 18%;
    transition-timing-function: linear;
}
.service3:hover {
    background: #3ecfb0;
}

.service4 {
    background:#444444;
    transition-property: background;
    transition-duration: 1s;
     height: 150px;
    transition-timing-function: linear;
}
.service4:hover {
    background: #d49000;
}
.service5 {
    background:#00736e;
    transition-property: background;
    transition-duration: 1s;
     height: 150px;
    transition-timing-function: linear;
}
.service5:hover {
    background: #845816;
}

/* ===================/ featured/===================== */





/* ===================/ Back to Top/===================== */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgb(243, 101, 0) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 45px;
    width: 45px;
    right: 30px;
    bottom: 15px;
  }
}
/* ===================/ End Back to Top/===================== */






/* ===================/ switcher-box/===================== */

.switcher-box {
    width: 310px;
    height: 550px;
    position: fixed;
    right: -311px;
    top: 0;
    padding: 15px 0;
    z-index: 999999999;
    background-color: #000000;
    display: block !important;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.switcher-box h4 {
  display: block;
  margin: 0px 20px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  margin-bottom: 10px;
}
.switcher-box span {
  display: block;
  text-transform: uppercase;
  padding: 5px 20px;
  text-align: left;
}
.switcher-box .colors-list {
  padding: 0 18px 0 18px;
  margin-bottom: 8px;
  line-height: 20px;
}

.switcher-box .colors-list li {
  display: inline-block;
  margin-right: 2px;
}
.switcher-box .colors-list li a {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 3px;
  cursor: pointer;
}
.switcher-box .colors-list li a.yellow {
  background-color: #ffbb02;
}
.switcher-box .colors-list li a.turquoise {
  background-color: #1abc9c;
}
.switcher-box .colors-list li a.emerald {
  background-color: #2ecc71;
}
.switcher-box .colors-list li a.river {
  background-color: #3498db;
}
.switcher-box .colors-list li a.wisteria {
  background-color: #8e44ad;
}
.switcher-box .colors-list li a.alizarin {
  background-color: #e74c3c;
}
.switcher-box .layout-style,
.switcher-box .topbar-style {
  width: 172px;
  padding: 6px 9px;
  outline: none;
  display: block;
  background: #fff;
  border-radius: 3px;
  padding: 4px 6px;
  color: #666;
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  margin: 0 0 12px 20px;
  border: 1px solid #ddd;
}
.switcher-box .bg-list {
  padding: 0 18px 0 18px;
  margin-bottom: 5px;
}
.switcher-box .bg-list li {
  display: inline-block;
  margin-right: 2px;
}
.switcher-box .bg-list li a {
  display: block;
  border-radius: 3px;
  width: 27px;
  height: 27px;
}

.switcher-box a:hover {
  text-decoration: none;
}

.switcher-box .bg-list li a.bg1 {
  background: url(../img/patterns/1.jpg) repeat;
}
.switcher-box .bg-list li a.bg2 {
  background: url(../img/patterns/2.jpg) repeat;
}
.switcher-box .bg-list li a.bg3 {
  background: url(../img/patterns/3.png) repeat;
}
.switcher-box .bg-list li a.bg4 {
  background: url(../img/patterns/4.png) repeat;
}
.switcher-box .bg-list li a.bg5 {
  background: url(../img/patterns/5.png) repeat;
}
.switcher-box .bg-list li a.bg6 {
  background: url(../img/patterns/6.png) repeat;
}
.switcher-box .open-switcher {
    width: 180px;
    height: 42px;
    display: block;
       position: absolute;
    cursor: pointer;
        top: 43%;
    left: -35%;
    letter-spacing: 3px;
    font-family: myfont2;
    text-align: center;
    border-radius: 0px;
    background-color: #3c3c3c;
    padding: 10px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
.switcher-box .open-switcher i {
  text-align: center;
  line-height: 42px;
  font-size: 25px;
  color: #fff;
  display: block;
}

.switcher-box a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
}
/* ===================/ End switcher-box/===================== */




/* ===================/ pricing-table/===================== */

#pricing-table {
  padding: 100px 0 127px;
  background: #32d7d7;
}
#pricing-table .title h2,
#pricing-table .title p {
  color: #fff;
}
#pricing-table .title h2:before, #pricing-table .title h2:after {
  background: #fff;
}
#pricing-table .block {
  color: #fff;
}
#pricing-table .block ul {
  border: 1px solid #fff;
  padding: 35px 0;
  list-style: none;
}
#pricing-table .block ul li {
  padding: 10px 0;
}
#pricing-table .block ul li p {
  text-transform: uppercase;
}
#pricing-table .block ul li:first-child {
  margin-bottom: 26px;
}
#pricing-table .block ul li:first-child h4 {
  padding-bottom: 29px;
  font-size: 20px;
}
#pricing-table .block ul li:first-child p {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}
#pricing-table .block ul li:first-child p span {
  font-size: 16px;
  font-weight: 300;
}
#pricing-table .block ul li:last-child {
  color: #fff;
  margin-top: 25px;
}
#pricing-table .block .btn-buy {
  border-color: #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  transition: 0.3s;
  background: #fff;
  color: #80d6a3;
}


#pricing-table .block .btn-buy {
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}
#pricing-table .block:hover {
  background:rgba(255, 255, 255, 0.17);
}
#pricing-table .block:hover .btn-buy {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}

/* ===================/ End pricing-table/===================== */




main[role="main-home-wrapper"],main[role="main-inner-wrapper"] { padding-bottom:90px}

main[role="main-home-wrapper"] article[role="pge-title-content"],main[role="main-inner-wrapper"] article[role="pge-title-content"]{ padding-left:41px; padding-bottom: 30px;}

main[role="main-home-wrapper"] article[role="pge-title-content"] header,main[role="main-inner-wrapper"] article[role="pge-title-content"] header{ padding-bottom:19px; padding-top:83px}

main[role="main-home-wrapper"] article[role="pge-title-content"] 
header h2,main[role="main-inner-wrapper"] article[role="pge-title-content"] 
header h2{ font-size:46px; line-height:53px; color:#404040; font-weight:800}

main[role="main-home-wrapper"] article[role="pge-title-content"] 
header h2 span,main[role="main-inner-wrapper"] article[role="pge-title-content"]
 header h2 span{ display:block; font-size:80px; color:#ff803c; padding-bottom:15px}

main[role="main-home-wrapper"] article[role="pge-title-content"] p,main[role="main-inner-wrapper"] article[role="pge-title-content"] p{ font-size:20px; line-height:30px; color:#454545}






/*  ################################################################
  13. CONTACT AND MAP SECTION
  ################################################################# */
  
  #success_page h1 {
    font-size:24px;
    font-weight:bold; 
    text-transform:uppercase;
  }
  
  .loader1 {
    vertical-align: super;
    padding-left: 20px;
}
  
 /* .form-control {
        border-radius: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #8e8e8e;
  }*/
  
  .contact-wrapper {
    display:block;
    padding:70px 0;
    position:relative;
    background-color:#fff;
  }
  
  #contactform {
    margin:30px 0;
    }
  #contactform .form-control {
      margin: 10px 0;
    height: 50px;
    font-size: 17px;
    } 
    
  #contactform textarea {
    height:150px !important;
    }


 
  #contactform span.required{ 
    font-size: 13px; color: #ff0000; 
    } 
  
  .btn-primary {
    display: inline-block;
    padding: 6px 13px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    background: 0 0;
    color: #292723!important;
    border:1px dashed #000000;
    margin-top: 30px;
    text-transform: uppercase;
  }
  
  .contact-box img {
    padding-bottom:15px;
    margin-bottom:30px;
  }
  .contact-box {
    margin:0;
    color:#999999;
    padding:0;
  }
  
  .contact-box h3 {
    margin: 20px 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #3C3B3B;
    font-weight: 700;
  }
  
  .btn-contact:hover {
    background: none !important;
    border-color: #F7C221 !important;
  }
  
  
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  font-size: 20px !important;
    border: 1px dashed #FFF !important;
    text-transform: uppercase;
    padding: 10px;
    border: 1px dashed #989898 !important;
    letter-spacing: 3px;
    color: #0050b3 !important;
  }
  
  .nav-tabs > li > a {
    border: none !important;
    background: none !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    border: 1px dashed #FFF;
    text-transform: uppercase;
    padding: 10px !important;
    letter-spacing: 3px !important;
    color: #999 !important;
  }
  
  .nav-tabs {
    border: 0 !important;
    padding-bottom: 40px;
  }
  
  .btn-contact {
    border-radius:0 !important;
    margin-bottom: 75px;
    }
      
  .btn-contact:hover {
    background:none  !important;
    margin-bottom: 75px;
    }
      
  .nav-tabs > li {
    float:none;
    margin:20px 10px 0 !important;
    display:inline-block;
    } 
    
  #map{
    height:450px;
    width:100%;
    margin-bottom:80px;
  }
  #map img{
    max-width:inherit
    }
  .map{
    position:relative
    }
  .map .row{
    position:relative
    }
    
  .infobox img {
    width:100% !important;
  }
  .map .searchmodule {
    padding:18px 10px
  }
  .infobox {
    display: inline-block;
    padding: 5px;
    position: relative;
    width: 270px;
  }
  .infobox img {
    width:80px !important;
    padding-right:10px
  }
  .infobox .title {
    font-size:13px;
    font-weight:bold;
    margin-top:0;
    margin-bottom:0;
    text-transform:uppercase;
    padding-bottom:5px;
  }
  .infobox .title a {
    font-weight:bold;
  }
    
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
     color: #FFF !important;
    background-color: #044e8e !important;
    border-color: 0;
  }
  
  .error_message {
  color: #F00!important;
  }
  
  .contact-box .fa {
    font-size: 40px;
    color: #F7C221;
  }
.main-bg
{
  width: 100%;
  display: none;
}
.main-bg img
{
  width: 100%;
}

  @media (min-width: 318px) and (max-width: 480px) 
{
  .js1 {
display: none;
}
.main-bg
{
  width: 100%;
  display: block;
}
.main-bg img
{
  width: 100%;
}
.no-p
{
  padding:0;
}

.one {
    /* width: 33%; */
    display: none;
  }
  .mt
  {
    margin-top:-20px;
  }
  .two {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-top: 1px;
    margin-top: -5px;
    margin-left: 58px;
}
.title {
        text-align: center;
    padding-bottom: 0px;
    padding-top: 20px;
}
.featured-content {
    margin: 0px;
    padding: 18px;
}
.service5 {
    background: #bd721e;
    transition-property: background;
    transition-duration: 1s;
        height: 60px;
    transition-timing-function: linear;
}
.btn-primary {
    display: inline-block;
    padding: 4px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    background: 0 0;
    color: #292723!important;
    border: 1px dashed #000000;
    margin-top: 0px;
    text-transform: uppercase;
}
.footer-widget img {
    max-width: 50%;
    margin-top: 0%;
    margin-left: 32%;
}
.btn-view {
    border-radius: 0 !important;
    margin-top: 12px;
    width: 100%;
    font-size: 20px!important;
}
.en h5 {
    font-size: 13px;
    padding-top: 5px;
    font-family: 'myfont1', sans-serif;
}
.en {
    text-align: center;
    background: #081786;
    padding: 30px;
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header, main[role="main-inner-wrapper"] article[role="pge-title-content"] header {
    padding-bottom: 0px;
    padding-top: 5px;
}
#testimonial4 {
    overflow: hidden;
    min-height: 300px;
     padding-bottom: 0px;
    position: relative;
    background: rgb(152, 76, 0);
}
.block-title {
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'myfont3', sans-serif;
}
.service4 {
    background: #270b10;
    transition-property: background;
    transition-duration: 1s;
      height: 60px;
    transition-timing-function: linear;
}
.service3 {
    background: #7a1c1c;
      height: 60px;
    transition-property: background;
    transition-duration: 1s;
     padding-top: 5%;
    transition-timing-function: linear;
}
.service1 {
    background: #051527;
      height: 60px;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.font1 {
    color: #fff;
      font-size: 18px;
    text-align: center;
    font-family: 'myfont2', sans-serif;
}
main[role="main-home-wrapper"], main[role="main-inner-wrapper"] {
    padding-bottom: 20px;
}
.web1 p {
    font-size: 13px;
    color: #000!important;
    margin-bottom: 5px;
    font-family: 'myfont1', sans-serif;
}
.service2 {
    background: #53bbf4;
       height: 60px;
    transition-property: background;
    transition-duration: 1s;
/*    padding-top: 0%;*/
    transition-timing-function: linear;
}
.title h2 {
    color: #333;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 8px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.section {
    padding-top: 0px;
    padding-bottom: 15px;
}
.foo-l
{
  display: none;
}
.footer-widget h3 {
    border-top: 1px solid #ccc;
    color: #000000;
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    text-transform: uppercase;
    line-height: 11px;
    margin-top: 20px;
    padding: 11px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 13px;
}
.footer-top-area {
    background: #ffffff none repeat scroll 0 0;
    padding: 0px 0 0 0px;
}
ul.footer-menu li span {
        color: #ae3c00;
    font-size: 15px;
}


ul.footer-menu li {
    color: #000000;
    display: block;
    font-size: 9px;
    font-weight: 400;
    line-height: 0px;
    text-align: center;
    padding: 10px;
}
.foo-menu ul li a {
    color: #bdbdbd;
font-size: 9px;
    border-right: 0;
    text-align: center;
    padding: 0px;
    font-family: 'myfont3', sans-serif;
}
.foo-menu ul li {
    margin: 4px;
    float: left;
}

.footer-widget {
    margin-bottom: 10px;
    padding-bottom: 0px;
   /* border-bottom: 1px solid#ccc;*/
}
.footer-bottom-area {
    background: #000000;
    padding: 3px 0;
}
.copyright p {
    color: #d5d5d5;
    text-align: center;
    margin-bottom: -5px;
    font-size: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid #cccccc70;
}
#banner2 {
    background: url(../images/banner.jpg);
    background-size: cover;
    padding: 80px 0 0 0;
    position: relative;
}
#banner2 h2 {
        color: #000!important;
    font-size: 17px;
    padding-top: 10px;
    margin-top: 10px;
  
}
main[role="main-home-wrapper"] article[role="pge-title-content"], main[role="main-inner-wrapper"] article[role="pge-title-content"] {
    padding-left: 0px;
    padding-bottom: 30px;
}

main[role="main-home-wrapper"] article[role="pge-title-content"] p, main[role="main-inner-wrapper"] article[role="pge-title-content"] p {
        font-size: 14px;
    line-height: 27px;
    color: #454545;
    text-align: justify;
}
main[role="main-home-wrapper"] article[role="pge-title-content"] 
 header h2, main[role="main-inner-wrapper"] article[role="pge-title-content"] 
 header h2 {
    font-size: 24px;
    line-height: 53px;
    color: #404040;
    font-weight: 800;
}
main[role="main-home-wrapper"] article[role="pge-title-content"] 
 header h2 span, main[role="main-inner-wrapper"] article[role="pge-title-content"]
 header h2 span {
    display: block;
    font-size: 60px;
    color: #ff803c;
    padding-bottom: 0px;
}
.sungare-web-design .block-title {
   
       font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.other-ser h4 {
    font-weight: 600;
    text-align: center;
    font-size: 11px;
}
.decr {
    font-size: 14px;
    text-align: justify;
    line-height: 26px;
    margin-bottom: 20px;
    font-family: 'myfont3', sans-serif;
}
.h-120
{
height: 120px;
}
.other-ser .title h2 {
    padding-bottom: 0px;
    font-size: 20px;
}
.footer-widget h4 {
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
}
.footer-widget h5 {
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
    font-family: 'myfont1', sans-serif;
    font-size: 11px;
}


figure.effect-oscar h2 {
    font-weight: 400;
    position: relative;
    top: 40%!important;
    line-height: 1.4em;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.title h2:before {
    content: '';
    width: 40px;
    height: 2px;
    background: #ff6d20;
    position: absolute;
    top: 19px;
    left: -60px;
    display: none;
}
.title h2:after {
    content: '';
    width: 40px;
    height: 2px;
    background: #ff6d20;
    position: absolute;
    top: 19px;
    right: -60px;
        display: none;
}
.other-ser {
    margin-top: 0PX;
    margin-bottom: 50PX;
    cursor: pointer;
}
.list-with-line li {
    margin-bottom: 3px;
    padding-left: 35px;
    position: relative;
    font-size: 13px;
    line-height: 23px;
    color: #000;
    list-style-type: none;
}
#sungares .sungare {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}
.enquiry .title {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0px;
}
.enquiry .title h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}


.job {
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 8%;
    text-align: center;
}
.hire {
    width: 100%;
    margin: 0px auto;
    background: #003579;
    margin-top: 0px;
    position: relative;
    PADDING: 10PX;
    color: #fff;
    text-align: center;
}
.type-kilo--sans {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
}
.type-med--serif {
    font-size: 15px;
    line-height: 25px;
}


.sungare-web-design .block-title {
    font-weight: 100;
    font-size: 19px;
    line-height: 28px;
    margin-top: 10px;
    text-align: center;
}

.choose {
    padding: 7px 50px;
    background: #a5a5a5;
    border: 1px solid #8c8c8c;
    position: relative;
    color: #fff;
    /* border-radius: 2px; */
    text-align: center;
    float: left;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}
.portmain
{
  margin-top:0px;
}

}